In [1]:
import pandas as pd

In [2]:
data = pd.read_csv ('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# data.isnull().sum()
data.to_excel ('iris_ex.xlsx')

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import metrics
import time

In [85]:
x = data.drop(['species'], axis = 1)
y = data['species']
x.shape, y.shape, y.value_counts()

((150, 4),
 (150,),
 setosa        50
 virginica     50
 versicolor    50
 Name: species, dtype: int64)

In [86]:
# from imblearn.over_sampling import SMOTE

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [87]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.5)
from sklearn import tree

classifier=tree.DecisionTreeClassifier()
classifier.fit(x_train,y_train)

a = input('sepal_length')
b = input('sepal_width')
c = input('petal_length')
d = input('petal_width')

x_test = pd.DataFrame(data=[[a,b,c,d]], columns=['sepal_length',
                                                 'sepal_width',
                                                'petal_length',
                                                'petal_width'])

predictions=classifier.predict(x_test)
predictions = pd.DataFrame(data=[predictions], columns=['species'])
# print(predictions)

result = pd.concat([x_test,predictions], axis=1)
result
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_test,predictions))

sepal_length5.1
sepal_width3.5
petal_length1.4
petal_width0.2

  sepal_length sepal_width petal_length petal_width species
0          5.1         3.5          1.4         0.2  setosa

In [74]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.5)
from sklearn import tree
classifier=tree.DecisionTreeClassifier()
classifier.fit(x_train,y_train)
predictions=classifier.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.9466666666666667

In [75]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
63            6.1          2.9           4.7          1.4
62            6.0          2.2           4.0          1.0
48            5.3          3.7           1.5          0.2
115           6.4          3.2           5.3          2.3
25            5.0          3.0           1.6          0.2
..            ...          ...           ...          ...
38            4.4          3.0           1.3          0.2
108           6.7          2.5           5.8          1.8
6             4.6          3.4           1.4          0.3
49            5.0          3.3           1.4          0.2
11            4.8          3.4           1.6          0.2

[75 rows x 4 columns]

In [76]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
63            6.1          2.9           4.7          1.4
62            6.0          2.2           4.0          1.0
48            5.3          3.7           1.5          0.2
115           6.4          3.2           5.3          2.3
25            5.0          3.0           1.6          0.2
..            ...          ...           ...          ...
38            4.4          3.0           1.3          0.2
108           6.7          2.5           5.8          1.8
6             4.6          3.4           1.4          0.3
49            5.0          3.3           1.4          0.2
11            4.8          3.4           1.6          0.2

[75 rows x 4 columns]

In [77]:
y_test

63     versicolor
62     versicolor
48         setosa
115     virginica
25         setosa
          ...
38         setosa
108     virginica
6          setosa
49         setosa
11         setosa
Name: species, Length: 75, dtype: object

In [42]:
a = input('a')
b = input('b')

df = pd.DataFrame(data=[[a,b]], columns=['a','b'])
df

a2
b3

   a  b
0  2  3